<div class="footer__container">
    <!-- Coluna 1: Descrição -->
    <div class="footer__column">
        <img src="/assets/img/IRON-MAK-white.png" alt="IronMak Equipamentos" class="footer__logo">
        <p>
            Especializada em equipamentos de alta qualidade, com soluções inovadoras para atender às necessidades do
            mercado industrial. Excelência e inovação são nossos pilares.
        </p>
    </div>  

    <!-- Coluna 2: Navegação -->
    <div class="footer__column">
        <h4>Navegação</h4>
        <ul>
            <li><a href="about.html">Sobre</a></li>
            <li><a href="index.html#representations">Representações</a></li>
            <li><a href="index.html#why-import">Serviços</a></li>
            <li><a href="index.html#contact">Contato</a></li>
        </ul>
    </div>

    <!-- Coluna 3: Redes Sociais -->
    <div class="footer__column">
        <h4>Siga-nos</h4>
        <div class="footer__social">
            <a href="https://www.instagram.com/ironmakequipamentos" target="_blank">
                <i class="bi bi-instagram"></i>
            </a>
            <a href="https://www.facebook.com/ironmakequipamentos" target="_blank">
                <i class="bi bi-facebook"></i>
            </a>
            <a href="#" target="_blank">
                <i class="bi bi-youtube"></i>
            </a>
        </div>
    </div>

    <!-- Coluna 4: Contato -->
    <div class="footer__column">
        <h4>Contato</h4>
        <div class="footer__contact">
            <p>
                <i class="bi bi-whatsapp"></i>
                <a href="https://wa.me/5511984449576" target="_blank">(11) 98444-9576</a>
            </p>
            <p>
                <i class="bi bi-whatsapp"></i>
                <a href="https://wa.me/5511974212163" target="_blank">(11) 97421-2163</a>
            </p>
        </div>
    </div>
    
</div>

<!-- Copy -->
<div class="footer__copy">
    <p>&copy; 2024 <span class="logo-span">IronMak Equipamentos</span>. Todos os direitos reservados.</p>
    <p>Design by <a href="https://smkdigital.com.br/" target="_blank">SMK Digital</a></p>
</div>