<div class="footer__social">
    <a href="https://www.instagram.com/ironmakequipamentos">
        <i class="bi bi-instagram"></i>
    </a>
    <a href="">
        <i class="bi bi-facebook"></i>
    </a>
    <a href="#">
        <i class="bi bi-youtube"></i>
    </a>
    <hr>
</div>
<ul class="list-inline">
    <li class="list-inline-item"><a href="about.html">Sobre</a></li>
    <li class="list-inline-item"><a href="index.html#representations">Representações</a></li>
    <li class="list-inline-item"><a href="index.html#why-import">Serviços</a></li>
    <li class="list-inline-item"><a href="index.html#contact">Contato</a></li>
</ul>
<hr>
<div class="footer__copy">
    <p>&copy; 2024 <span class="logo-span">IronMak Equipamentos</span>. Todos os direitos reservados.</p>
    <p>Design by <a href="https://smkdigital.com.br/">SMK Digital</a></p>
</div>
