<div class="navbar sticky-top">
    <div class="logo">
        <a href="#">
            <img src="assets/img/IRON-MAK-white.png" alt="logo ironmak">
        </a>
    </div>
    <ul class="links">
        <li><a href="about.html">Sobre</a></li>
        <li><a href="#representations">Representações <i class="bi bi-caret-down-fill"></i> </a>
            <!-- <ul class="sub-links">
                <li><a href="#goodeng">Goodeng</a></li>
                <li><a href="#sunhunk">Sunhunk</a></li>
                <li><a href="#hbs">HBS</a></li>
            </ul> -->
        </li>
        <li><a href="#why-import">Serviços</a>
            <!-- <ul class="sub-links">
                <li><a href="#">Peças de Reposição</a></li>
                <li><a href="#">Consultoria</a></li>
            </ul> -->
        </li>
        <li><a href="#contact">Contato</a></li>
    </ul>
    <a href="#" class="action__btn">Whatsapp</a>
    <div class="toggle__btn">
        <i class="bi bi-list"></i>
    </div>

    <div class="dropdown__menu">
        <li><a href="about.html">Sobre</a></li>
        <li><a href="#representations">Representações</a>
            <!-- <ul class="sub-links">
                <li><a href="#goodeng">Goodeng</a></li>
                <li><a href="#sunhunk">Sunhunk</a></li>
                <li><a href="#hbs">HBS</a></li>
            </ul> -->
        </li>
        <li><a href="#why-import">Serviços</a>
            <!-- <ul class="sub-links">
                <li><a href="#">Peças de Reposição</a></li>
                <li><a href="#">Consultoria</a></li>
            </ul> -->
        </li>
        <li><a href="contact">Contato</a></li>
        <li><a href="#" class="action__btn_dropdown">Whatsapp</a></li>
    </div>
</div>