<section id="home" class="hero">
    <div class="hero-background">
        <img class="w-100" src="../assets/img/hero-banner.png" alt="Hero Banner">
    </div>

    <div class="container-hero position-absolute text-center text-light">
        <h1 class="animate__animated animate__fadeInDown">Especialistas em Gestão de Ativos e Transporte de Equipamentos Pesados</h1>
        <p class="animate__animated animate__fadeInUp">Soluções personalizadas para otimizar seus projetos e reduzir custos.</p>
        <a href="#services" class="btn cta-button animate__animated animate__fadeIn">Conheça Nossos Serviços</a>

        <div class="row hero-images">
            <span class="animate__animated animate__fadeInLeft w-100 text-center mb-2">Representante Oficial:</span>
            <div class="col-4">
                <img class="img-fluid animate__animated animate__fadeIn" src="../assets/img/goodeng-brasil.png" alt="Goodeng Brasil">
            </div>
            <div class="col-4 ">
                <img class="img-fluid animate__animated animate__fadeIn" src="../assets/img/hbs-brasil.png" alt="HBS Brasil">
            </div>
            <div class="col-4 ">
                <img class="img-fluid animate__animated animate__fadeIn" src="../assets/img/sunhunk-brasil.png" alt="Sunhunk Brasil">
            </div>
        </div>
        
    </div>
</section>


